<div ng-include="'views/common/header.view.client.html'"></div>
<br>
<div class="container-fluid">
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <a href="#!/profile" class="btn btn-delete">Back to your profile</a>
</div>

<div class="container-fluid" ng-show="!vm.error">
    <table class="table">
    <thead>
    <tr>
        <th><h3>Chat with <span class="label label-primary">{{vm.other_username}}</span></h3></th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td>
            <input ng-model="vm.message.text"
                   placeholder="message"
                   class="form-control"/>
        </td>
        <td>
            <button ng-click="vm.updateMessage(vm.message)"
                    id="update" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button ng-click="vm.createMessage(vm.message.text)"
                    class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="message in vm.messages">
        <td class="my-message" ng-if="message.from === vm.user.username">
            <div align="right">
                <p><b>{{message.text}}</b></p>
                <div class="message-time">
                    <b><i>You</i></b> sent on {{message.date | date:"MM-dd h:mm a"}}
                </div>
            </div>
        </td>
        <td class="others-message" ng-if="message.to === vm.user.username">
            <div align="left">
                <p><b>{{message.text}}</b></p>
                <div class="message-time">
                    <b><i>{{message.from}}</i></b> sent on {{message.date | date:"MM-dd h:mm a"}}
                </div>
            </div>
        </td>
        <td ng-class="message.from === vm.user.username ? 'my-message' : 'others-message'">
            <div ng-show="message.from === vm.user.username">
                <button ng-click="vm.selectMessage(message)"
                        id="select" class="btn btn-delete pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="vm.deleteMessage(message)"
                        id="delete" class="btn btn-delete pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
    </table>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>