<div ng-include="'views/common/header.view.client.html'"></div>

<div class="container-fluid">
    <a href="#!/profile">
        <h2>Profile</h2>
    </a>
    <div ng-show="vm.message" class="alert alert-info">{{vm.message}}</div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="vm.user.username"
                   type="text"
                   class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="vm.user.email"
                   type="email"
                   class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input ng-model="vm.user.phone"
                   type="text"
                   class="form-control" id="phone" placeholder="012-345-6789">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="vm.user.first_name"
                   type="text"
                   class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="vm.user.last_name"
                   type="text"
                   class="form-control" id="last-name" placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input ng-model="vm.user.date_of_birth"
                   type="date"
                   class="form-control"
                   id="dob">
        </div>

        <div class="form-group">
            <label for="passport">Passport Number</label>
            <input ng-model="vm.user.passport_number"
                   type="text"
                   class="form-control"
                   id="passport"
                   placeholder="X1234567">
        </div>
    </form>

    <br>
    <a class="btn btn-primary btn-block"
       href="#!/booking">View your reservations</a>
    <a class="btn btn-info btn-block" ng-show="vm.user.role === 'STAFF' && (vm.user.duty === 'TICKET_CHECKER' || vm.user.duty === 'CREW' )"
       href="#!/schedule">View your schedules</a>
    <a class="btn btn-primary btn-block" ng-show="vm.user.role === 'ADMIN'"
       href="#!/admin">Administration Page</a>
    <a class="btn btn-success btn-block"
       ng-click="vm.updateUser(vm.uid, vm.user)">Update</a>
    <a class="btn btn-delete btn-block" ng-show="vm.user.role === 'MEMBER'"
       ng-click="vm.unregister()">Unregister</a>
    <a class="btn btn-danger  btn-block"
       ng-click="vm.logout()">Logout</a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
