<div ng-include="'views/common/header.view.client.html'"></div>

<div class="container-fluid">
    <a href="#!/profile">
        <h2>Profile</h2>
    </a>
    <div ng-show="vm.message" class="alert alert-info">{{vm.message}}</div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="vm.user.username"
                   type="text"
                   class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="vm.user.email"
                   type="email"
                   class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input ng-model="vm.user.phone"
                   type="text"
                   class="form-control" id="phone" placeholder="012-345-6789">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="vm.user.firstName"
                   type="text"
                   class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="vm.user.lastName"
                   type="text"
                   class="form-control" id="last-name" placeholder="Wonderland">
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input ng-model="vm.user.dateOfBirth"
                   type="date"
                   class="form-control"
                   id="dob">
        </div>
    </form>

    <div class="row">
        <div class="col-xs-6">
            <label for="chat">Chat with</label>
            <input ng-model="vm.chatWith" type="text" class="form-control" id="chat" placeholder="e.g. admin">
        </div>
        <div class="col-xs-6">
            <label>Confirm and go</label>
            <a href="#!/chat_with/{{vm.chatWith}}" class="btn btn-info btn-block">Go</a>
        </div>
    </div>

    <br>
    <a class="btn btn-primary btn-block" ng-show="vm.user.roles.indexOf('ADMIN')<=-1 && vm.user.roles.indexOf('CREW')<=-1"
       href="#!/booking">View your bookings</a>
    <a class="btn btn-info btn-block" ng-show="vm.user.roles.indexOf('CREW')>-1"
       href="#!/schedule">View your schedules</a>
    <a class="btn btn-primary btn-block" ng-show="vm.user.roles.indexOf('ADMIN')>-1"
       href="#!/admin">Administration Page</a>
    <a class="btn btn-success btn-block"
       ng-click="vm.updateUser(vm.uid, vm.user)">Update</a>
    <a class="btn btn-delete btn-block" ng-show="vm.user.roles.indexOf('ADMIN')<=-1"
       ng-click="vm.unregister()">Unregister</a>
    <a class="btn btn-danger  btn-block"
       ng-click="vm.logout()">Logout</a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
