<div ng-include="'views/common/header.view.client.html'"></div>

<div class="container-fluid">
    <h3>Manage Bookings</h3>

    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="hidden-xs col-sm-3 col-lg-2">
                    Booking ID (Last 10 chars)
                </div>
                <div class="col-xs-5 col-sm-2 col-lg-2">
                    Username
                </div>
                <div class="visible-lg col-lg-1">
                    Food
                </div>
                <div class="visible-lg col-lg-1">
                    Lounge
                </div>
                <div class="hidden-xs col-sm-3 col-lg-1">
                    Price
                </div>
                <div class="visible-lg col-lg-2">
                    Date
                </div>
                <div class="col-xs-4 col-sm-2 col-lg-1">
                    Flight Number
                </div>
                <div class="col-xs-3 col-sm-2">
                </div>

            </div>
        </li>
        <li class="list-group-item edit">
            <div class="row">
                <div class="hidden-xs col-sm-3 col-lg-2 ID">
                    <b>{{vm.booking._id.slice(-10)}}</b>
                </div>
                <div class="col-xs-5 col-sm-2 col-lg-2">
                    <input ng-model="vm._user.username" class="form-control" ng-disabled="vm.selected"/>
                </div>
                <div class="visible-lg col-lg-1">
                    <form name="food" ng-init="vm.booking.food='Yes'">
                        <label>
                            <input type="radio" ng-model="vm.booking.food" value="Yes"/>
                            Yes
                        </label><br/>
                        <label>
                            <input type="radio" ng-model="vm.booking.food" value="No"/>
                            No
                        </label><br/>
                    </form>
                </div>
                <div class="visible-lg col-lg-1">
                    <form name="lounge"  ng-init="vm.booking.lounge='Yes'">
                        <label>
                            <input type="radio" ng-model="vm.booking.lounge" value="Yes"/>
                            Yes
                        </label><br/>
                        <label>
                            <input type="radio" ng-model="vm.booking.lounge" value="No"/>
                            No
                        </label><br/>
                    </form>
                </div>
                <div class="hidden-xs col-sm-3 col-lg-1">
                    <b>{{vm.booking.price}}</b>
                </div>
                <div class="visible-lg col-lg-2">
                    <div ng-repeat="flight in vm._flights"><b>{{flight.departure_scheduled_time | date:'yyyy-MM-dd'}}</b></div>
                </div>
                <div class="col-xs-4 col-sm-2 col-lg-1">
                    <div ng-repeat="flight in vm._flights"><b>{{flight.marketing_carrier}}{{flight.marketing_flight_number}}</b></div>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <span ng-click="vm.updateBooking(vm.booking);vm.booking={};vm._user={};vm._flights={}" class="glyphicon glyphicon-ok pull-right">&nbsp</span>
                    <a href="#!/booking/new/{{vm._user.username}}/{{vm.booking.food}}/{{vm.booking.lounge}}"><span class="glyphicon glyphicon-plus pull-right">&nbsp</span></a>
                </div>

            </div>
        </li>
        <li ng-repeat="booking in vm.bookings" class="list-group-item">
            <div class="row">
                <div class="hidden-xs col-sm-3 col-lg-2 ID">
                    {{booking._id.slice(-10)}}
                </div>
                <div class="col-xs-5 col-sm-2 col-lg-2">
                    {{vm.users[$index].username}}
                </div>
                <div class="visible-lg col-lg-1">
                    {{booking.food}}
                </div>
                <div class="visible-lg col-lg-1">
                    {{booking.lounge}}
                </div>
                <div class="hidden-xs col-sm-3 col-lg-1">
                    ${{booking.price}}
                </div>
                <div class="visible-lg col-lg-2">
                    <div ng-repeat="flight in vm.flights[$index]">{{flight.departure_scheduled_time | date:'yyyy-MM-dd'}}</div>
                </div>
                <div class="col-xs-4 col-sm-2 col-lg-2">
                    <div ng-repeat="flight in vm.flights[$index]">
                        <span class="label label-primary">{{flight.marketing_carrier}}{{flight.marketing_flight_number}}</span></div>
                </div>
                <div class="col-xs-3 col-sm-2 col-lg-1">
                    <span ng-click="vm.selectBooking(booking, $index)" class="glyphicon glyphicon-pencil pull-right">&nbsp</span>
                    <span ng-click="vm.deleteBooking(booking)" class="glyphicon glyphicon-remove pull-right">&nbsp</span>
                </div>
            </div>

        </li>
    </ul>

    <a href="#!/admin" class="btn btn-delete">Back</a>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>