<div ng-include="'views/common/header.view.client.html'"></div>



<div class="container" ng-show="!vm.bookings.length">
    <h2 align="center">We don't have any booking record for you.</h2>
    <br>
    <br>
    <a href="#!/booking/new" class="btn btn-primary btn-block">Why not book one now?</a>
</div>
<div class="container-fluid" ng-show="vm.bookings.length">

    <div class="show-staff" ng-show="vm.selectPassenger">

            <h4>Passenger information</h4>
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-sm-2">
                            First Name
                        </div>
                        <div class="col-sm-2">
                            Last Name
                        </div>
                        <div class="col-sm-2">
                            Phone
                        </div>
                        <div class="col-sm-2">
                            Email
                        </div>
                        <div class="col-sm-2">
                            Passport
                        </div>
                        <div></div>
                    </div>
                </li>

                <li class="list-group-item active">
                    <div class="row">
                        <div class="hidden-xs col-xs-2">
                            {{vm.passenger.first_name}}
                        </div>
                        <div class="hidden-xs col-xs-2">
                            {{vm.passenger.last_name}}
                        </div>
                        <div class="hidden-xs col-xs-2">
                            {{vm.passenger.phone}}
                        </div>
                        <div class="hidden-xs col-xs-2">
                            {{vm.passenger.email}}
                        </div>
                        <div class="hidden-xs col-xs-2">
                            {{vm.passenger.passport_number}}
                        </div>
                        <div></div>
                    </div>
                </li>

                <li class="list-group active">
                    <div class="row">
                        <div class="hidden-xs col-xs-2">
                            <input ng-model="vm.passenger.first_name" >
                        </div>
                        <div class="hidden-xs col-xs-2">
                            <input ng-model="vm.passenger.last_name">
                        </div>
                        <div class="hidden-xs col-xs-2">
                            <input ng-model="vm.passenger.phone">
                        </div>
                        <div class="hidden-xs col-xs-2">
                            <input ng-model="vm.passenger.email">
                        </div>
                        <div class="hidden-xs col-xs-2">
                            <input ng-model="vm.passenger.passport_number">
                        </div>
                        <div class="hidden-xs col-xs-2">
                            <a class="btn btn-success btn-block"  ng-click="vm.updatePassenger(vm.passenger)">updatePassenger</a>
                        </div>
                    </div>
                </li>>
            </ul>
    </div>

    <h4>Your Bookings</h4>
    <div class="table-responsive" ng-show="vm.bookings">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Booking ID (10 chars)</td>
                <td>Date of Booking</td>
                <td>Departure from</td>
                <td>Departure Time</td>
                <td>Arrival At</td>
                <td>Arrival Time</td>
                <td>Flight Number</td>
                <td>Price</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody ng-repeat="booking in vm.bookings" id="tbody">
                <tr>
                    <td><h5>{{booking._id.slice(-10)}}</h5></td>
                    <td><h5>{{booking.date_created | date}}</h5></td>
                    <td><h5><div>{{booking.flight.departure_airport}}</div></h5></td>
                    <td><h5><div>{{booking.flight.departure_scheduled_time | date:"HH:mm, MM/dd/yyyy"}}</div></h5></td>
                    <td><h5><div>{{booking.flight.arrival_airport}}</div></h5></td>
                    <td><h5><div>{{booking.flight.arrival_scheduled_time | date:"HH:mm, MM/dd/yyyy"}}</div></h5></td>
                    <td><h5><div>{{booking.flight.marketing_carrier}}{{flight.marketing_flight_number}}</div></h5></td>
                    <td><h4>${{booking.price}}</h4></td>
                    <td><div>
                        <a class="btn btn-danger btn-block" ng-click="vm.cancelBooking(booking._id)">Cancel</a></div></td>
                    <td><div><a class="btn btn-primary btn-block"
                           href="#!/operations/flightstatus/{{booking.flight.marketing_carrier}}{{booking.flight.marketing_flight_number}}/{{booking.flight.departure_scheduled_time | date:'yyyy-MM-dd'}}">Status</a></div></td>
                    <td><div>
                        <a class="btn btn-success btn-block"  ng-click="vm.fetchPassenger(booking._id, booking.passenger)">Passenger</a></div></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>